###########################################################
###################### Setup ######################
###########################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge


# 使用服务域名
NGROK_SERVER_DOMAIN=example.com

#HTTP端口
NGROK_HTTP_PROT=8080
#HTTPS端口
NGROK_HTTPS_PROT=4432
#隧道端口
NGROK_TUNNEL_PROT=4443

#日志路径
NGROK_LOG_PATH=./ngrok/data/logs/
#authtoken配置文件
NGROK_AUTHTOKEN_PATH=./ngrok/data/authtoken.conf
